Checks: >
    -*,
    hicpp-*,
	# clang-diagnostic-*, # not supported by clang-tidy in the Git Hub action.
	bugprone-*

WarningsAsErrors: 'hicpp-*'
HeaderFilterRegex: '^.*/source/library/.*'
SystemHeaders: false
FormatStyle: none

CheckOptions:
  - key:             misc-unused-parameters.StrictMode
    value:           1

# temp logic, comments out when no other HI-C++ checks find problem code.
ExtraArgs:
  - -Wno-everything
