[submodule "submodules/open_gl_registry"]
	path = submodules/open_gl_registry
	url = git@github.com:KhronosGroup/OpenGL-Registry.git
[submodule "submodules/glm"]
	path = submodules/glm
	url = git@github.com:g-truc/glm.git
[submodule "submodules/glfw"]
	path = submodules/glfw
	url = git@github.com:glfw/glfw.git
[submodule "submodules/glbinding"]
	path = submodules/glbinding
	url = https://github.com/cginternals/glbinding.git
